.projects {
  &__title {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Zen Dots", cursive;
    margin-bottom: 50px;
  }
}
.project {
  display: flex;
  margin: 50px 0;
  &__body {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 10px 20px 30px rgba(#000000bb, 0.5);
    overflow: hidden;
    background: url(attr(data-url));
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(45deg, rgba($primary, 0.7), #212121bb);
      transform: translate(-105%, 0);
      transition: all 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
      z-index: 3;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: #00000085;
    }

    &:hover {
      &::before {
        transform: translate(0, 0);
      }
    }
  }
  &:nth-child(2n + 1) {
    justify-content: flex-end;
  }
  &__background {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 0 58% 0;
    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      position: absolute;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 4;
    max-width: 900px;
  }
  &__title {
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media (min-width: 767.98px) {
  .project {
    &__body {
      width: 90%;
      margin-bottom: 50px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
